/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** fonts *********************/
@font-face {
  font-family: "KGSecondChancesSketch";
  src:
    url("fonts/KGSecondChancesSketch/kgsecondchancessketch-webfont.woff2") format("woff2"),
    url("fonts/KGSecondChancesSketch/kgsecondchancessketch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*************** colors *********************/
.color1 {
  color: #7092e7;
}

.color2 {
  color: #5fb4b1;
}

.color3 {
  color: #3491a9;
}

.color4 {
  color: #e3f8f4;
}

.color5 {
  color: #2d4342;
}

.color6 {
  color: #586f87;
}

.color7 {
  color: #7bd7d4;
}

.color8 {
  color: rgb(59, 205, 242);
}

/************** text format ***************/

h1 {
  font-family: "KGSecondChancesSketch", sans-serif;
  color: #3491a9;
  font-size: 2.8rem;
  margin-block: 1rem 1rem;
  hyphens: auto;
}

h2 {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
  color: #5fb4b1;
  margin-block: 1rem 0.5rem;
  hyphens: auto;
}

h3 {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
  color: #7bd7d4;
  margin-block: 1rem 0.5rem;
  hyphens: auto;
}

p {
  max-width: 65ch;
  text-wrap: pretty;
  color: #2d4342;
  margin-block: 0.5rem 1rem;
  hyphens: auto;
}

li {
  color: #2d4342;
}

dl {
  color: #2d4342;
  margin-block: 0.5rem 0.5rem;
}

dd {
  color: #2d4342;
  margin-block: 0.5rem 1rem;
}

/*************** images *********************/
img {
  margin-block: 1rem 0.5rem;
  border-radius: 40px;
}

/*************** body *********************/
body {
  background-color: #e3f8f4;
}

/*************** header *********************/
header {
  display: flex;
  height: 100px;
  background-image: linear-gradient(to bottom, rgb(15, 32, 120), cyan);
  box-shadow: 0px 2px 10px black;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header img {
  width: 50px;
  height: 50px;
}

.menu li a {
  display: inline-block;
  width: 120px;
  padding: 5px;

  background-color: rgb(59, 205, 242);
  border-radius: 20px;
  color: white;
  font-family: "Oldenburg", serif;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgb(44, 44, 44);
}

header a:hover {
  background-color: darkblue;
}

.menu li {
  margin-right: 20px;
}

@media (max-width: 800px) {
  .menu li a {
    display: none;
  }
}

@media (min-width: 800px) {
  header {
    display: flex;
    margin: 0;
  }
}

.menu {
  display: flex;
  list-style: none;
}

/*************** main ******************/
main {
  max-width: 1200px;
  margin-inline: 5%;
  margin-block: 1rem 1rem;
}

/*************** footer ******************/
footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  height: 50px;
  background-image: linear-gradient(to top, rgb(15, 32, 120), cyan);
  box-shadow: 2px 0px 10px black;
}

footer .p_footer {
  font-family: "KGSecondChancesSketch", sans-serif;
  font-size: 1.5rem;
  color: #e3f8f4;
}

/*************** index (forside) *********************/
.bruger_personlig_computer {
  border: 1px solid black;
  background-image: linear-gradient(to right, rgb(0, 204, 255), cyan 92%, rgb(23, 148, 186), white 94% 100%);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.bruger_windows {
  border: 1px solid black;
  background-image: linear-gradient(to right, rgb(0, 204, 255), cyan 38%, rgb(23, 148, 186), white 40% 100%);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.tablet {
  border: 1px solid black;
  background-image: linear-gradient(to right, rgb(0, 204, 255), cyan 56%, rgb(23, 148, 186), white 58% 100%);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.bruger_smartphone {
  border: 1px solid black;
  background-image: linear-gradient(to right, rgb(0, 204, 255), cyan 91%, rgb(23, 148, 186), white 93% 100%);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.modern_computer {
  border: 1px solid lightgrey;
}

.main_index a {
  display: inline-block;
  width: 120px;
  padding: 5px;

  background-color: rgb(59, 205, 242);
  border-radius: 20px;
  color: white;
  font-family: "Oldenburg", serif;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgb(44, 44, 44);
}

.main_index a:hover {
  background-color: darkblue;
}

/*************** Komponenter *********************/

.main_komponenter img {
  border: 1px solid lightgrey;
}

/*************** galleri *********************/
.galleri {
  background-image: linear-gradient(to bottom, white 130px, cyan, rgb(15, 32, 120));
}
